
.ao_container1 {

    width: 10rem;
}

.col-md-2 .text-center {
    margin-left: 0;
}

.ao_table_row_image_box {
    width: 100%;

    height: 9.5rem;
}


.ao_select_order_status_td {
    height: 9rem;
}

.ao_select_order_status_op1 {

    font-size: 1rem;
}

.ao_select1_btn1 {

}