
.cp_container {

    height: 70rem;
}

.cp_table_row_image {

}

.cp_table_row_image_box {
    width: 100%;

    height: 8rem;
}

.cp_table_row_quantity_manage_box {
    width: 10%;
    height: 8rem;
}

.cp_table_row_quantity_manage_box .btn1, .cp_table_row_quantity_manage_box .btn2 {

    width: 25%;
    height: 28%;
    font-size: 2rem;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 0.3rem;
}

.cp_table_row_delete_item {
    width: 10%;
    height: 8rem;
}

.cp_container2 {
    height: 25rem;
}