
.pbocp_container {

    width: 79.72rem;
}

.card {

    height: 22rem;
}

.card-img-top {
    height: 11rem;
}

.card-body {
    padding: .5rem;
    position: relative;
}

.card-title {
    font-size: 1.1rem;
    margin-bottom: .4rem;
    line-height: 1.2rem;
}

.card-text {
    margin-bottom: .1rem;

    line-height: .9rem;
}

.card-detail-link {
    gap: .5rem;
    position: absolute;
    bottom: .4rem;

}

@media only screen and (max-width : 576px) {
    #grid-container {
        display: grid;
        grid-template-rows: repeat(12, 21rem);

        grid-template-columns: repeat(1, 100%);
        gap: 1.2rem;
        padding: 1px 20px 1px 20px;
        margin-left: 1rem;
    }

}