
.single_product_details {

    height: 30rem;
}
.height100 { height: 100%; }
.height75 { height: 75%;}
.height80 { height: 80%;}
.height90 { height: 90%;}
.height92 { height: 92%;}
.height98 { height: 98%;}
.height25 { height: 25%;}

.height50 { height: 50%;}
.height39 { height: 39%;}
.height60 { height: 60%;}
.height20 { height: 20%;}
.width100 { width: 100%; }
.width80 { width: 80%; }

.width20 { width: 20%; }
.width25 { width: 25%; }
.width30 { width: 30%; }


.border_blue { border: 1px solid blue !important; }
.border_Silver { border: 1px solid silver !important; }


.similar_product {
    border: 1px solid blue;
    height: 30rem;

}

.similar_product10 {
    height: 8rem;
    border: 1px solid blue;
}

.similar_product_list {
    border: 1px solid blue;

}


.selectedImage {

    border-radius: .6rem;
}

.slick-slider {
    height: 100% !important;
}

.slick-prev {
    left: 0.5rem !important;

}

.slick-prev:before, .slick-next:before {

    color: #000000 !important;
}

.slick-next {
    right: 0.5rem !important;

}

.slick-list {
    width: 97% !important;

    left: 1rem !important;
    height: 100% !important;
}

.slick-track {
    height: 100%;
    display: flex !important;
    gap: 1rem !important;
    justify-content: space-between !important;

}

.slick-slide > div {
    height: 100%;
}