
.up_details_container {

    height: 22rem;
}

.up_form_container {
    height: 26rem;
}

.up_form_container {
    margin-top: 0px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #ffdee9;
    background-image: linear-gradient(0deg, #ffdee9 0%, #b5fffc 100%); 
}

.up_form_container form {

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 20px;
    background-color: #fff;
}

.up_form_container form .title {  
    text-align: center;
    margin-bottom: 15px;

    font-weight: bold;
    font-family: "Playfair Display", serif;
}

.up_form_container form input {
    border: none;
    border-bottom: 1px solid #000;
    border-radius: 0;
}


.up_form_container form button {
    border: 1px solid black;
    border-radius: 0;
    background-color: #000;
    color: white;
    width: 250px;   
}