
.uo_container1 {

    width: 10rem;
}

.col-md-2 .text-center {
    margin-left: 0;
}

.uo_table_row_image_box {
    width: 100%;

    height: 8rem;
}


.cp_table_row_delete_item {
    width: 10%;
    height: 8rem;
}